@import './base.css';

#app {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  color: rgb(0, 76, 189);
  transition: 0.4s;
  padding: 3px;
}


@media (min-width: 1024px) {
  body {
    height: 100%;
    width: 100%;
  }

  #app {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
}

kbd {
  background-color: var(--color-background-mute);
  border-radius: 3px;
  border: 1px solid var(--color-border);
  box-shadow:
    0 1px 1px rgb(0 0 0 / 0.2),
    0 2px 0 0 var(--color-border) inset;
  color: var(--color-heading);
  display: inline-block;
  font-size: .9em;
  font-weight: 700;
  line-height: 1;
  padding: 6px 6px;
  white-space: nowrap;
}

b {
  font-weight: bold;
}

textarea {
  width: 100%;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

summary {
  border-radius: 0;
  border-style: solid;
  border-color: var(--color-border);
  border-width: 1px;
  background-color: var(--color-background);
  color: var(--color-heading);
  padding: .2rem .6rem;
  cursor: pointer;

  &:hover {
    background-color: var(--color-background-mute);
  }
}

label {
  font-size: .85rem;
}

details {
  width: 100%;

  .options {
    border-radius: 0;
    border-style: solid;
    border-color: var(--color-border);
    border-width: 1px;
    background-color: var(--color-background-mute);
    color: var(--color-heading);
    padding: .6rem .6rem;

    .option {
      width: 100%;
      display: flex;
      gap: .75rem;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.card {
  border: 1px var(--color-heading) solid;
  border-radius: 16px;
  background-color: var(--color-background-mute);
  padding: 16px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;

  th {
    background-color: var(--color-background);
  }

  th,
  td {
    border: 1px var(--color-heading) solid;
    text-align: start;
    padding: 4px;
  }

  tbody {
    tr {
      td {
        background-color: var(--color-background-mute);
      }
    }

    tr:nth-child(odd) {
      td {
        background-color: var(--color-background-soft);
      }
    }
  }


}